/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 *//*
 @import "~font-awesome/css/font-awesome.css";
*/

@import "~react-select/dist/react-select.css";

  .App {
      text-align: center;
    }

  .Winner{
    background-image: url("../resources/gifs/winner.gif") ;
    background-repeat: repeat;
    height: 100%;
    background-position: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

  .divLines{
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  
  .Square-board{
    /*height: 280px;*/
    /*width: 280px;*/
    background-image: url("../resources/textures/metalzoom.png") ;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    margin: 55px auto;
    padding: 0px;
    box-shadow: 2px 2px rgb(55, 55, 55);
    border-radius: 15px;
  }
  
  .Square{
    border:0 ;
    height:40px ;
    width:40px ;
    background: transparent;
  }
  
  .Pin{
    border:0;
    margin: 0 auto;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: radial-gradient(circle at 6px 6px,  rgb(200, 200, 206), rgb(55, 55, 151), rgb(5, 5, 151));
    transition: 0.1s;
  }

  .Pin:hover{
    height: 25px;
    width: 25px;
    background: radial-gradient(circle at 6px 6px,  rgb(190, 190, 206), rgb(50, 50, 135), rgb(10, 10, 135));
  }
  
  .Hole{
    border:0;
    margin: 0 auto;
    height: 10px;
    width: 10px;
    background: radial-gradient(circle at 6px 6px,  black, rgb(145, 145, 145));
    border-radius: 10px;
  }
  
  .Chosen{
    background: radial-gradient(circle at 6px 6px,  rgb(232, 239, 245),  rgb(11, 173, 173), rgb(0, 78, 255)) !important;
    height: 22px;
    width: 22px;
  }
  
  .board-row{
    height: 40px;
  }
  
  button:focus{
    outline: yellow;
  }
  
  button{
    border-radius: 6px;
  }

  .DivGameLabel{
    padding: 10px;
    background: transparent;
    width: 200px;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  .boardNameLabel{
    color: #1d4a9e;
  }

  .ShadowContainer{
    filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.7));
  }